section {
    display: grid;
    height: 75%;
    width: 100%;
    grid-template-columns: 1fr 1.75fr 1fr;
}

article{
    /*중앙의 내용물이 표시되는 부분을 세로로 그리드 하여 나눈다*/
    display: grid;
    grid-template-rows: 1fr 3fr;
}
article #top{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
    border-bottom:  2px solid rgb(254,138,99);
}
#PasswordFind{
     /*텍스트 | 인풋텍스트 의 레이아웃을 1대 3 비율로 나누어 분할한다*/
     display: grid;
    grid-template-columns: 2fr 5fr;
    padding-top: 3%;
}
article #left{
    /*왼쪽의 텍스트 스타일 지정*/
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.find{
    /*오른쪽의 인풋 스타일 지정*/
    width: 90%;
    font-size: 17px;
}
#FindPassword{
    /*비밀번호 찾기 버튼의 스타일 지정*/
    background-color: rgb(254,138,99);
    border: 0px;
    border-radius: 10px;
    width: 45%;
    height: 100%;
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    border: 2px solid white;
}
#FindPassword:hover{
    /*비밀번호 찾기 버튼을 눌렀을 경우*/
    border: 2px solid black;
}
