
section {
    display: grid;
    height: 75%;
    width: 100%;
    grid-template-columns: 1fr 1.75fr 1fr;
}

article{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
article #top{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
    border-bottom:  2px solid rgb(254,138,99);
}


#PasswordFind{
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding-top: 3%;
}
article #left{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

 #FindPassInput,#SecurityCheck01,#SecurityCheck02,select{
    width: 90%;
    font-size: 17px;
}
#FindPassword{
    background-color: rgb(254,138,99);
    border: 0px;
    border-radius: 10px;
    width: 45%;
    height: 100%;
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
}
#FindPassword:hover{
    border: 2px solid black;
}
