/* 음식 분류 메인페이지 */

.card {
    width: 200px;
    height: 250px;
    overflow : scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 1vw;
    background-color: white;
} 

.card:hover{
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(296.54deg, #FF8A65 0%, #FFCBBA 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.card__title{
    font-size: 18px;
    margin: 13%;
}

.card__img{
    display: block;
    width: 130px;
    margin: 5px auto;
}


