@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    color:#413737;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    width: 100%;
    display: grid;
    grid-template-rows: 330px 1fr 150px;
}

/*헤더,네비바*/
header{
    background-color: #FAF9F5;
    width: 100%;
    text-align: center;
}
/*마이페이지 | 로그인 | 회원가입 네비바*/
#header_nav-member{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    margin: 28px;
}
.header_logo{
    text-align: center;
}
/*메뉴 추천 | 음식 목록 네비바*/
.header_nav-menu{
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 630px;
    border-radius: 40px;
    display: block;
    margin: 0px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 0.9fr 1fr 1fr 0.9fr;
}
.header_nav-menu > a:hover{
    color: #FF8A65;
}
/*메인-비선호 음식 입력 및 검색*/
main{
    display: grid;
    grid-template-rows: 1fr 850px;
}
.food_search{
    background-color: #FAF9F5;
}#hatemenu_text{ /*싫어하는 음식을 선택해주세요! 텍스트*/
    font-size: 16px;
    margin-top: 55px;
    text-align: center;
}
#hatefood_search{ /*비선호 음식 입력&검색*/
    text-align: center;
    margin-top: 45px
}
#hate_button{ /*+ 버튼*/
    text-align: center;
}

#hatefood_text{  /*제외할 음식 텍스트*/
    font-weight: bold;
    font-size: 22px;
    margin-right: 25px;
}
.hateinput{ /*입력창*/
    width: 340px;
    height: 40px;
    border: solid;
    border-radius: 5px;
    border-color: #CBCBCB;
    padding-left: 10px;
    margin-top: 15px;
}
#hatefood_search >p{ /*추가되는 입력창*/
    margin-left: 60px;
}
#search_button{ /*검색 버튼*/
    font-weight: bold;
    font-size: 18px;
    background-color: #FF8A65;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    border: 0px;
    margin-left: 25px;
}
#plus_button{ /*+ 버튼*/
    width: 350px;
    height: 40px;
    border-radius: 5px;
    background-color: #EBECEC;
    border: 0px;
    font-size: 36px;
    color:#FF8A65;
    font-weight: bold;
    margin-top: 15px;
    padding: 0px;
    margin-left: 25px;
}
.remove_button{ /*X 버튼*/
    background-color: white;
    color:#CBCBCB;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}
#loginsave_text{ /**로그인 시 검색 기록이 저장됩니다. 텍스트*/
    color: #A8A8A8;
    text-align: right;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 40px;
}

/*메인-메뉴 추천 결과*/
#foodresult_text{ /*추천 결과 텍스트*/
    text-align: center;
    font-weight: bold;
    color:#FF8A65;
    margin-top: 65px;
    font-size: 24px;
}
#howfood_text{  /*오늘 이 메뉴는 어떠세요? 텍스트*/
    text-align: center;
    color: #545454;
    margin-top: 20px;
    margin-bottom: 7px;
}
#foods{ /*추천 결과들*/
    width: 785px;
    display: flex;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.food{ /*한식, 양식 등 각 추천 결과*/
    text-align: center;
    filter: drop-shadow(0px 4px 4px #A8A8A8);
    background-color: white;
    margin-top: 33px;
    margin: 35px;
    border: 0px;
    max-width: 200px;
    padding-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #595959;
    height: 240px;
    overflow: hidden;
    border: 2px solid white;
}
.food img{
    margin-top: 15px;
    max-width: initial;
    height: 200px;
}
.food p{ /*음식 재료*/
    font-size: 14px;
    color: #424242;
    padding: 10px;
    display: none;
}
.food:hover{
    border: 2px solid #FF8A65;
}
.food:hover p{
    display: block;
}
.food:hover h3, .food:hover h5, .food:hover img{
    visibility: hidden;
}
/*푸터*/
footer{
    display: flex;
    justify-content: space-between;
    background-color:#424242;
}
.team{
    text-align: center;
    margin: 3rem;
    font-weight: bold;
}
footer div{
    color:white;
}
footer p {
    margin: 5px;
    color:white;
    font-size: 14px;
}
footer img{
    margin-right: 35px;
}