section {
    display: grid;
    height:100%;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    overflow: hidden;
}

article{
    display: grid;
    grid-template-rows: 1fr 1.5fr 3fr;
}
#top {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 3%;
    border-bottom:  2px solid rgb(254,138,99);
}
#mid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#Box01{
  padding-top: 10%;
}
#Box01 #wellcome{
    font-weight: bold;
    font-size: 20px;
    padding-left: 10%;
}
#change,#delete{
    padding-left: 10%;
     padding-top: 2%;
     text-align: left;
}
#change:hover,#delete:hover{
   color: gray;
}
#LOGOUT{
    padding-top: 10%;
    text-align: right;
    padding-right: 10%;
}
#LogOut{
    background-color: rgb(254,138,99);
    border: 0px;
    border-radius: 10px;
    width: 50%;
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    border: 2px solid white;
}
#LogOut:hover{
    border:2px solid black;
}
#bottom #ListName{
    font-weight: bold;
    font-size: 25px;
}
#bottom #List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 100%;
    height: 80%;
}
#list01,#list02,#list03,#list04{
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 10px;
    border: 1px solid black;
}
