section {
    display: grid;
    min-height:100%;
    min-width: 100%;
    grid-template-columns: 1fr 1.75fr 1fr;
    overflow: hidden;
}

article{
    display: grid;
    grid-template-rows: 1fr 6fr;
}
article #top{
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 10%;
    border-bottom:  2px solid rgb(254,138,99);
    font-weight: bold;
}
#SignupInput{
    padding-top: 3%;
    display: grid;
    grid-template-columns: 2fr 5fr;
}
article #left{   
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.check{
    padding-top: 1%;
    text-align: right;
    padding-right: 10%;
    font-size: 15px;;
    color: tomato;
}
input,select{
    width: 90%;
    font-size: 17px;
}
#SignUp:hover{
    border: 2px solid black;
}
#SignUp{
    background-color: rgb(254,138,99);
    border: 0px;
    border-radius: 10px;
    width: 35%;
    color: white;
    font-weight: bold;
   padding-top: 1%;
   padding-bottom: 1%;
   font-size: 20px;
   border: 2px solid white;
}
