section {
    display: grid;
    height:100%;
    width: 100%;
    grid-template-columns: 1fr 1.75fr 1fr;
    overflow: hidden;
}

article{
    display: grid;
    grid-template-rows: 1fr 6fr;
}
article #top{
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
    border-bottom:  2px solid rgb(254,138,99);
    font-weight: bold;
}

article #left{
    text-align: center;
    font-size: 20px;
}

#SignupInput{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 2fr 5fr;
}
input,select{
    width: 90%;
    font-size: 20px;
}
#SignUp{
    background-color: rgb(254,138,99);
    border: 0px;
    border-radius: 10px;
    width: 35%;
    color: white;
    font-weight: bold;
   padding-top: 1%;
   padding-bottom: 1%;
   font-size: 20px;
}
